/* main css */
#header .navbar {
  border-bottom:2px solid #77bff2;
  padding-right:20px;
}
#footer {
	padding:20px;
	text-align:center;
	font-size:.9em;
	opacity:.5;
	border-top:1px solid #666;
	margin-top:40px;
}
#appLoading {
    background-color: #363739;
	padding-top:20%;
	text-align:center;
    position:fixed;
    opacity:1;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}
#appLoading.loader{
	opacity:0;
    -webkit-transform: translate(0%,60%);
    -moz-transform: translate(0%,60%);
    -ms-transform: translate(0%,60%);
    -o-transform: translate(0%,60%);
    transform: translate(0%,60%);
}
#appContainer {
	opacity:0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: translate(0%,-20%);
    -moz-transform: translate(0%,-20%);
    -ms-transform: translate(0%,-20%);
    -o-transform: translate(0%,-20%);
    transform: translate(0%,-20%);

}
#appContainer.loader{
	opacity:1;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #77bff2;

  margin: 40px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#innerSpinner {
  position:fixed;
  display:block;
  top:-32px;
  right:10px;
  height:10px;
  width:10px;
}
#innerSpinner .spinner {
  width:10px;
  height:10px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}