/* main css */
#footer {
	padding:20px;
	text-align:center;
	font-size:.9em;
	opacity:.5;
	border-top:1px solid #666;
	margin-top:40px;
}
#appLoading {
	padding-top:20%;
	text-align:center;
    position:fixed;
    opacity:1;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}
#appLoading.loader{
	opacity:0;
    -webkit-transform: translate(0%,100%);
    -moz-transform: translate(0%,100%);
    -ms-transform: translate(0%,100%);
    -o-transform: translate(0%,100%);
    transform: translate(0%,100%);
}
#appContainer {
	opacity:0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
#appContainer.loader{
	opacity:1;
}
