/* main css */
#header .navbar {
  border-bottom:2px solid #77bff2;
  padding-right:20px;
}
#footer {
	padding:20px;
	text-align:center;
	font-size:.9em;
	opacity:.5;
	border-top:1px solid #666;
	margin-top:40px;
}
#appLoading {
    background-color: #363739;
	padding-top:20%;
	text-align:center;
    position:fixed;
    opacity:1;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}
#appLoading.loader{
	opacity:0;
    -webkit-transform: translate(0%,60%);
    -moz-transform: translate(0%,60%);
    -ms-transform: translate(0%,60%);
    -o-transform: translate(0%,60%);
    transform: translate(0%,60%);
}
#appContainer {
	opacity:0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: translate(0%,-20%);
    -moz-transform: translate(0%,-20%);
    -ms-transform: translate(0%,-20%);
    -o-transform: translate(0%,-20%);
    transform: translate(0%,-20%);

}
#appContainer.loader{
	opacity:1;
    -webkit-transform: translate(0%,0%);
    -moz-transform: translate(0%,0%);
    -ms-transform: translate(0%,0%);
    -o-transform: translate(0%,0%);
    transform: translate(0%,0%);
}

.spinner {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #77bff2;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#innerSpinner {
  position:fixed;
  display:block;
  top:-20px;
  right:0px;
  height:30px;
  width:30px;
}
#innerSpinner .spinner {
  width:20px;
  height:20px;

}
#innerSpinner .spinner .dot1, #innerSpinner .spinner .dot2 {
  background-color: #77bff2;
}
