<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Basic AngularJS</a>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:$state.includes('home')}"><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-class="{active:$state.includes('login')}"><a ui-sref="login.subs" ui-sref-active="active">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
