<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ng-class="{active:$state.includes('home')}"><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li ng-class="{active:$state.includes('login')}"><a ui-sref="login.subs" ui-sref-active="active">Login</a></li>
        <li ng-class="{active:$state.includes('landing')}"><a ui-sref="landing" ui-sref-active="active">Landing</a></li>
      </ul>
      <small class="pull-right">header.html</small>
  </div><!-- /.container-fluid -->
</nav>
<div id="innerSpinner"><div class="spinner" ng-show="hasPendingRequests()"></div></div>
